%table.table.js-orders-table
  %thead
    %tr
      %th Номер Заказа
      %th Email пользователя
      %th Детали заказа
      %th Комментарий к заказу
      %th Действия
  %tbody
    - @orders.each do |order|
      %tr{class: "js-order-row-#{order.id}"}
        %td= order.code
        %td= order.user.email
        %td
          %bold= "#{order.drinks_volume.drink.name} (#{order.drinks_volume.volume.volume})"
          %p= order.drink_additions.pluck(:name).join(", ")
        %td= order.comment
        %td.js-action-row= link_to("Приготовить", staff_prepare_drink_path(order_id: order.id), remote: true, method: :post)
