<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeBack</title>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if current_staff_user.present? %>
        <div class="float-right"><%= link_to "Выйти", destroy_staff_user_session_path, method: :delete %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>

  <%= render "layouts/firebase_notifications" %>
  <%= render "layouts/pusher" %>
</html>
